<Router AppAssembly="typeof(Startup).Assembly">
    @*if route was found, go to url*@
    <Found>
        <RouteView RouteData="@context" DefaultLayout="typeof(AdminLayout)"></RouteView>
    </Found>
    @*if route is was not found, display this*@
    <NotFound>
        <h4 class="bg-danger text-white text-center p-2">No Matching Route Found</h4>
    </NotFound>
</Router>