@page
@model Mission07.Pages.CartSubmittedModel
@{
}

@*Validation screen for when a cart is submitted*@
<div class="text-center">
    <h2>Done! Your cart has been submitted!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>